/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  /**
  * COLORS
  */

  /* background color */
  --bg-purple: hsla(267, 100%, 63%, 1);
--bg-purple-alpha-30: hsla(267, 100%, 63%, 0.3);
--bg-dark-purple: hsla(279, 42%, 9%, 1);
--bg-oxford-blue: hsla(240, 63%, 13%, 1);
--bg-oxford-blue-alpha-95: hsla(240, 63%, 13%, 0.95);
--bg-oxford-blue-alpha-90: hsla(240, 63%, 13%, 0.9);
--bg-oxford-blue-alpha-80: hsla(240, 63%, 13%, 0.8);

/* gradient color */
--gradient-1: linear-gradient(to right bottom, hsl(299, 100%, 52%), hsl(291, 100%, 58%), hsl(283, 100%, 60%), hsl(273, 100%, 62%), hsl(262, 100%, 63%), hsl(242, 100%, 69%), hsl(223, 100%, 62%), hsl(210, 100%, 50%), hsl(203, 100%, 50%), hsl(198, 100%, 50%), hsl(192, 100%, 48%), hsl(185, 90%, 48%));
--gradient-2: linear-gradient(90deg, transparent 0%, #9841ff 50%, transparent 100%);

/* text color */
--text-white: hsla(0, 0%, 100%, 1);
--text-gainsboro: hsla(0, 0%, 87%, 1);
--text-champagne-pink: hsla(23, 61%, 86%, 1);
--text-purple: hsla(267, 100%, 63%, 1);

/* border color */


}



/*-----------------------------------*\
  #RESET
\*-----------------------------------*/





/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/





/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/





/*-----------------------------------*\
  #HERO
\*-----------------------------------*/





/*-----------------------------------*\
  #UPCOMING
\*-----------------------------------*/





/*-----------------------------------*\
  #NEWS
\*-----------------------------------*/





/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/





/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/





/*-----------------------------------*\
  #CUSTOM CURSOR
\*-----------------------------------*/





/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/